
/* Icons */
.icon {overflow:hidden;margin:0 auto;padding:0;text-align: center;display: block; background-repeat: no-repeat;background-image:url(../img/icons.png);}

a#logo span.iconic {width:32px; height:78px; background-position: -694px -0px}
a#logo:hover span.iconic {background-position: -662px -0px}

a#h-logo span.iconic{width:52px; height:18px; background-position: -302px -38px}
a#h-logo:hover span.iconic{background-position: -250px -38px}

a#search-li span.iconic {width:32px; height:32px; background-position: -630px -0px}
a#search-li:hover span.iconic {background-position: -616px -32px}
a#search-li.active span.iconic {background-position: -588px -64px}

a#categories-li span.iconic {width:32px; height:32px; background-position: -556px -96px}
a#categories-li:hover span.iconic {background-position: -598px -0px}
a#categories-li.active span.iconic {background-position: -584px -32px}

a#sys-notification-li span.iconic {width:32px; height:32px; background-position: -556px -64px}
a#sys-notification-li:hover span.iconic {background-position: -524px -96px}
a#sys-notification-li.active span.iconic {background-position: -566px -0px}

a#negotiation-notification-li span.iconic {width:32px; height:32px; background-position: -552px -32px}
a#negotiation-notification-li:hover span.iconic {background-position: -524px -64px}
a#negotiation-notification-li.active span.iconic {background-position: -492px -96px}

a#transaction-notification-li span.iconic {width:32px; height:32px; background-position: -534px -0px}
a#transaction-notification-li:hover span.iconic {background-position: -520px -32px}
a#transaction-notification-li.active span.iconic {background-position: -492px -64px}

a#mesages-notification-li span.iconic {width:32px; height:32px; background-position: -460px -96px}
a#mesages-notification-li:hover span.iconic {background-position: -502px -0px}
a#mesages-notification-li.active span.iconic {background-position: -488px -32px}

a#community-li span.iconic {width:32px; height:32px; background-position: -460px -64px}
a#community-li:hover span.iconic {background-position: -428px -96px}
a#community-li.active span.iconic {background-position: -470px -0px}
a#community-li.active-page span.iconic {background-position: -456px -32px}
a#community-li.active-page:hover span.iconic {background-position: -428px -64px}

a#help-li span.iconic {width:32px; height:32px; background-position: -438px -0px}
a#help-li:hover span.iconic {background-position: -424px -32px}
a#help-li.active span.iconic {background-position: -396px -76px}
a#help-li.active-page span.iconic {background-position: -406px -0px}
a#help-li.active-page:hover span.iconic {background-position: -232px -60px}

a#add-wide {width:130px; height:38px; background-position: -0px -38px}
a#add-wide:hover {background-position: -0px -0px}

a#add {width:52px; height:38px; background-position: -372px -38px}
a#add:hover {background-position: -354px -0px}

a#feedback {width:52px; height:38px; background-position: -302px -0px}
a#feedback:hover {background-position: -250px -0px}

.personal {width:26px; height:26px; background-position: -640px -90px}
.connections {width:26px; height:26px; background-position: -620px -64px}
.shop {width:26px; height:26px; background-position: -614px -96px}
.lists {width:26px; height:26px; background-position: -588px -96px}
.hr {width:232px; height:16px; background-position: -0px -76px}
.glow-small {width:60px; height:60px; background-position: -190px -0px}
.glow-large {width:60px; height:60px; background-position: -130px -0px}




.social-fb {width:36px; height:36px; background-position: -216px -92px}
a.social-fb:hover {background-position: -360px -92px}

.social-gplus {width:36px; height:36px; background-position: -180px -92px}
a.social-gplus:hover {background-position: -336px -56px}

a.social-lkin:hover {width:36px; height:36px; background-position: -324px -92px}
.social-lkin {background-position: -144px -92px}

a.social-mail:hover {width:36px; height:36px; background-position: -300px -56px}
.social-mail {background-position: -108px -92px}

a.social-pintrest:hover {width:36px; height:36px; background-position: -288px -92px}
.social-pintrest {background-position: -72px -92px}

a.social-tw:hover {width:36px; height:36px; background-position: -264px -56px}
.social-tw {background-position: -36px -92px}

a.social-yahoo:hover {width:36px; height:36px; background-position: -252px -92px}
.social-yahoo {background-position: -0px -92px}

/* Icons : end*/

/* Toolbar containers */
#sidebar-wrapper #h-logo{
 padding: 21px 4px;
}
#sidebar-wrapper a.ico-w .iconic{

display:block;
}
#sidebar-wrapper a.ico-w.active{
    background-color: #ece8db;
}
#sidebar-wrapper a.ico-w.active:hover{
	 background-color: #fefefe;
}

#sidebar-wrapper a.ico-w{
padding:14px;
display:block;
}
#sidebar-wrapper a.ico-m{
padding:17px 14px;
display:block;
}
#sidebar-wrapper a#avtr-li.ico-w{
display:block;
padding:10px !important;
padding-left:10px !important;

}
#sidebar-wrapper a#avtr-li.ico-w:hover span#avtr-w {
background:transparent;
}
#sidebar-wrapper a#avtr-li.ico-w span#avtr-w {
display:block;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;

background:rgba(0, 0, 0, 0.3);
padding:3px;
}
#sidebar-wrapper a#avtr-li.ico-w.active span#avtr-w {background:transparent;}
#sidebar-wrapper a#avtr-li.ico-w:hover span#avtr-w span#avtr-w-inner{
background:#c3d0eb;
}
#sidebar-wrapper a#avtr-li.ico-w span#avtr-w span#avtr-w-inner{
display:block;
-moz-border-radius: 19px;
-webkit-border-radius: 19px;
border-radius: 19px;
padding:2px;
}
#sidebar-wrapper a#avtr-li.ico-w.active span#avtr-w span#avtr-w-inner{background:transparent;}
#sidebar-wrapper a#avtr-li.ico-w span#avtr-w span#avtr-w-inner img{
display:block;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
height:30px;
width:30px;


}
#sidebar-wrapper .trader-area{
background:#212630;height:300px;
}
#sidebar-wrapper .pull-bot{
position:relative;
}
#sidebar-wrapper .pull-bott{
bottom:0;
display:block;
}
#dimm-overlay{background: rgba(106, 105, 102, 0.3);
display:none;
width:100%;
height:100%;
position:fixed;
z-index:5000 !important;
cursor:pointer;
}
#toolbar-windows .wu-title{
padding:13px 0px 13px 30px;
font-size:22px;
color:#585752;
background:#fff;
}
#toolbar-windows .header-menu-title{
color:#585752;
font-size:16px;
padding-left:30px;
font-weight:bold;
}
#toolbar-windows .header-menu ul{
margin:0;padding:0;
}
#toolbar-windows .header-menu li{
list-style:none;
}
#toolbar-windows .header-menu li a{
width:202px;
display:block;
padding-left:30px;
color:#585752;
}
#toolbar-windows .header-menu li a:hover{
background:#fff;
}
#toolbar-windows .toolbar-wu-el{
background: #ece8db;
height:100%;
width:202px;
position:fixed;
left:60px;
top:0px;
display:none;
z-index: 5001;

}
/* Toolbar : end*/


#header, #footer, #sidebar-first, #sidebar-second, #ptop{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}


#conny {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text !important;
    user-select: text !important;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

a{cursor:pointer;text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
a:hover, a:active, a:visited{}
body {
    background: #ece8db;
    color: #7f7d76;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width:100%;
	height:100%;
}
html, body{
    width:100%;
	height:100%;
}

#life{height:100%;position:fixed;right:0;top:48px;background:#4d3c49;border:0;z-index:2000;}


.nicescroll-rails{z-index:20000 !important;}
#life .nicescroll-rails{top:0px !important;}
*{outline:0 !important;}
#ascrail2000-hr div, #ascrail2001-hr div{cursor:pointer !important;}
#ascrail2000 div, #ascrail2001 div{cursor:pointer !important;}
body #ascrail2000 {right:2px !important;}
body.active-feed #ascrail2000{right:250px !important;}
body.active-feed #ascrail2001{right:2px !important;}
.loggio{position:absolute;top:0;right:25px;}
#loggi{width:48px;height:48px;}
#loggo{}

#navv{display:none;
      border:1px solid #ccc;
      width:100px;
      height:300px;
      position:fixed;
      top:48px;
      left:10px;
      background:#ccc;
}
#navv li{list-style:none;}
#mon{position:absolute;left:12px;top:10px;line-height: 0;font-size: 0;color: transparent;}

#lon{position:fixed;right:0;top:10px;height:28px;width:80px;
background:rgba(0, 19, 64, 0.5);

}
#lon:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0px;
   border-top: 14px solid transparent;
   border-right: 25px solid rgba(0, 19, 64, 0.5);
   border-bottom: 14px solid transparent;
   margin: 0px 0 0 -25px;

}
#wrapper.active-feed #lon{
    width:248px;
background:rgba(0, 19, 64, 0.5);


    height:48px;
    top:0;right:0;
    border:0;
}
#wrapper.active-feed #lon:before{border:0;}
#container {

    margin: 0 auto;
    clear:both;
    width: auto;
    overflow: hidden;
    height:100%;
margin-left:60px;
padding: 0 10px;
}
.sidebar{
    position: relative;
    float: left;
    display:block;
}
#ptop{color:#fff;width:100%;}
#ptop .innerr{}
#sidebar-first{height:100% !important;}
#sidebar-second{height:100% !important;}
#main {

    margin:0;
    padding: 0 ;

}

#main .innerr{
  
}

#sidebar-first .innerr {

}

#sidebar-second .innerr {

}
/** Live feed on **/
#wrapper.active-feed #life{display:block;}
body.two-sidebars #wrapper.active-feed #main {
    width:100%;
    margin:0;
    padding: 0;
    margin-left:-248px;
    margin-right:-248px;
}
body.two-sidebars #wrapper.active-feed #ptop{
    margin-left:-248px;
    margin-right:-248px;
    width:100%;
    margin:0;
    padding: 0;
}
body.two-sidebars #wrapper.active-feed #ptop .innerr{
    margin-left:248px;
    margin-right:248px;
}
body.two-sidebars #wrapper.active-feed #main .innerr{
    margin-left:248px;
    margin-right:248px;
}


body.sidebar-first #wrapper.active-feed #main {
    width:100%;
    margin:0;
    padding:0;
    margin-left:-248px;

}
body.sidebar-first #wrapper.active-feed #main .innerr{
    margin-left:248px;
}

body.sidebar-second #wrapper.active-feed #main {
    width:100%;
    margin:0;
    padding:0;
    margin-right:-248px;

}
body.sidebar-second #wrapper.active-feed #main .innerr{
    margin-right:248px;
}


body.two-sidebars #wrapper.active-feed #sidebar-first {

    z-index:10;
    padding: 0;
    width:248px;
}

body.two-sidebars #wrapper.active-feed #sidebar-second {

    z-index:10;
    padding: 0;
    width:248px;

}


body.sidebar-first #wrapper.active-feed #sidebar-first {

    z-index:10;
    padding: 0;
    width:248px;

}


body.sidebar-second #wrapper.active-feed #sidebar-second {

    z-index:10;
    padding: 0;
    width:248px;
}
/** Live feed on end **/

/** Live feed off **/
#life{display:none;}
body.two-sidebars #main {
    width:100%;
    margin:0;
    padding: 0;
    margin-left:-248px;
    margin-right:0px;
}
body.two-sidebars #ptop{
    margin-left:-248px;
    margin-right:0px;
    width:100%;
    margin:0;
    padding: 0;
}
body.two-sidebars #ptop .innerr{
    margin-left:248px;
    margin-right:0px;
}
body.two-sidebars #main .innerr{
    margin-left:248px;
    margin-right:0px;
}


body.sidebar-first #main {
    width:100%;
    margin:0;
    padding:0;
    margin-left:-248px;

}
body.sidebar-first #main .innerr{
    margin-left:248px;
}

body.sidebar-second #main {
    width:100%;
    margin:0;
    padding:0;
    margin-right:0px;

}
body.sidebar-second #main .innerr{
    margin-right:0px;
}


body.two-sidebars #sidebar-first {

    z-index:10;
    padding: 0;
    width:248px;
}

body.two-sidebars #sidebar-second {

    z-index:10;
    padding: 0;
    width:0px;

}


body.sidebar-first #sidebar-first {

    z-index:10;
    padding: 0;
    width:248px;

}


body.sidebar-second #sidebar-second {

    z-index:10;
    padding: 0;
    width:0px;
}
/** Live Feed off end **/
@media only screen and (max-width: 900px){
    #life{display:none;}
    #lon{display:none;}
    body.two-sidebars #wrapper.active-feed  #main {
        width:100%;
        margin:0;
        padding: 0;
        margin-left:-248px;
        margin-right:0px;
    }
    body.two-sidebars #wrapper.active-feed #ptop{
        margin-left:-248px;
        margin-right:0px;
        width:100%;
        margin:0;
        padding: 0;
    }
    body.two-sidebars #wrapper.active-feed #ptop .innerr{
        margin-left:248px;
        margin-right:0px;
    }
    body.two-sidebars #wrapper.active-feed #main .innerr{
        margin-left:248px;
        margin-right:0px;
    }


    body.sidebar-first #wrapper.active-feed #main {
        width:100%;
        margin:0;
        padding:0;
        margin-left:-248px;

    }
    body.sidebar-first #wrapper.active-feed #main .innerr{
        margin-left:248px;
    }

    body.sidebar-second #wrapper.active-feed #main {
        width:100%;
        margin:0;
        padding:0;
        margin-right:0px;

    }
    body.sidebar-second #wrapper.active-feed #main .innerr{
        margin-right:0px;
    }


    body.two-sidebars #wrapper.active-feed #sidebar-first {

        z-index:10;
        padding: 0;
        width:248px;
    }

    body.two-sidebars #wrapper.active-feed #sidebar-second {

        z-index:10;
        padding: 0;
        width:0px;

    }


    body.sidebar-first #wrapper.active-feed #sidebar-first {

        z-index:10;
        padding: 0;
        width:248px;

    }


    body.sidebar-second #wrapper.active-feed #sidebar-second {

        z-index:10;
        padding: 0;
        width:0px;
    }


}
@media only screen and (max-width: 568px) {
    .sidebar{
        position: relative;
        float: none;
        display:block;
    }
    #sidebar-second{display:none;}
    body.two-sidebars #main {
        width:100%;
        margin:0;
        padding: 0;
        margin-left:0px;
        margin-right:0px;
    }
    body.two-sidebars #ptop{
        margin-left:0px;
        margin-right:0px;
        width:100%;
        margin:0;
        padding: 0;
    }
    body.two-sidebars #ptop .innerr{
        margin-left:0px;
        margin-right:0px;
    }
    body.two-sidebars #main .innerr{
        margin-left:0px;
        margin-right:0px;
    }


    body.sidebar-first #main {
        width:100%;
        margin:0;
        padding:0;
        margin-left:0px;

    }
    body.sidebar-first #main .innerr{
        margin-left:0px;
    }

    body.sidebar-second #main {
        width:100%;
        margin:0;
        padding:0;
        margin-right:0px;

    }
    body.sidebar-second #main .innerr{
        margin-right:0px;
    }


    body.two-sidebars #sidebar-first {

        z-index:10;
        padding: 0;
        width:100%;
    }

    body.two-sidebars #sidebar-second {

        z-index:10;
        padding: 0;
        width:0;

    }


    body.sidebar-first #sidebar-first {

        z-index:10;
        padding: 0;
        width:100%;

    }


    body.sidebar-second #sidebar-second {

        z-index:10;
        padding: 0;
        width:0;
    }

}


.breadcrumb {
    clear: both;
    padding: 1.5em 0 0;
}




#footer {
    clear: both;
    background:#fff;
    padding-left: 60px;
    margin-top: -100px;
    height: 100px;
}
#page-content-wrapper{
 padding-bottom: 100px;
}
.clear { clear: both; }

.display-block { display: block; }



#loader {
    color:#000;
    text-align:center;
    background: #000; 
    height: 40px;
    width: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 1000;
    padding:10px;
    -webkit-border-radius: 50%;

    border-radius: 50%;

    -webkit-box-shadow:  0px 0px 10px -1px #000;
behavior: url(../img/ie-css3.htc);
    box-shadow:  0px 0px 10px -1px #000;

}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

#circularG{
    position:relative;
    width:40px;
    height:40px}

.circularG{
    position:absolute;
    background-color:#FFFFFF;
    width:9px;
    height:9px;
    -moz-border-radius:6px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.72s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:6px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.72s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:6px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.72s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:6px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.72s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:6px;
    animation-name:bounce_circularG;
    animation-duration:0.72s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:16px;
    -moz-animation-delay:0.27s;
    -webkit-animation-delay:0.27s;
    -ms-animation-delay:0.27s;
    -o-animation-delay:0.27s;
    animation-delay:0.27s;
}

#circularG_2{
    left:4px;
    top:4px;
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}

#circularG_3{
    top:0;
    left:16px;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#circularG_4{
    right:4px;
    top:4px;
    -moz-animation-delay:0.54s;
    -webkit-animation-delay:0.54s;
    -ms-animation-delay:0.54s;
    -o-animation-delay:0.54s;
    animation-delay:0.54s;
}

#circularG_5{
    right:0;
    top:16px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#circularG_6{
    right:4px;
    bottom:4px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#circularG_7{
    left:16px;
    bottom:0;
    -moz-animation-delay:0.81s;
    -webkit-animation-delay:0.81s;
    -ms-animation-delay:0.81s;
    -o-animation-delay:0.81s;
    animation-delay:0.81s;
}

#circularG_8{
    left:4px;
    bottom:4px;
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -o-animation-delay:0.9s;
    animation-delay:0.9s;
}

@-moz-keyframes bounce_circularG{
    0%{
    -moz-transform:scale(1)}

100%{
    -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
    -webkit-transform:scale(1)}

100%{
    -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
    -ms-transform:scale(1)}

100%{
    -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
    -o-transform:scale(1)}

100%{
    -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
    transform:scale(1)}

100%{
    transform:scale(.3)}

}
